<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2020  Newsletter Coupon
 * @package   Newsletter_Coupon
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_before">
        <observer name="newsletter_coupon_add_columns" instance="Newsletter\Coupon\Observer\Html\BeforeBlockToHtml"/>
    </event>
</config>
